/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#content,
#navigation,
#page-top,
.region-sidebar-first,
.region-sidebar-second,
#footer {
    @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
    @include zen-grid-container();
    position: relative;
}

#page-top {
    @include zen-grid-item($zen-column-count, 1);
    margin-bottom: $zen-gutter-width;
    position: relative;
}

#content {
    @include zen-clear(left);
}

/*
 * Navigation bar (see navigation.css)
 */
@media all and (min-width: 480px) {
  #navigation {
    width: $zen-grid-width;
  }
}

/* 
 * ZEN GRID ITEM:
 * zen-grid-item( $column-span, $column-position )
 * zen-grid-item( $column-span, $column-position, $float-direction )
 */

@media all and (min-width: 480px) and (max-width: 959px) {
    
    /*
     * Use 3 grid columns for smaller screens.
     */
    $zen-column-count: 3;

    /*
     * The layout when there is only one sidebar, the first one.
     */
    .sidebar-first {
        #content { /* Span 2 columns, starting in 2nd column from left. */
            @include zen-grid-item(2, 1);
        }

        .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
            @include zen-grid-item(1, 3);
        }
    }

    /*
     * The layout when there is only one sidebar, the second one.
     */
    .sidebar-second {
        #content { /* Span 2 columns, starting in 1st column from left. */
            @include zen-grid-item(2, 1);
        }

        .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
            @include zen-grid-item(1, 3);
        }
    }

    /*
     * The layout when there are two sidebars: both sidebars are to the right side.
     */
    .two-sidebars {
        #content { /* Span 2 columns, starting in 2nd column from left. */
            @include zen-grid-item(2, 1);
        }

        .region-sidebar-first { /* Span 1 column, starting in 3rd column from left. */
            @include zen-grid-item(1, 1, right);
        }

        .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
            @include zen-clear(right);
            @include zen-grid-item(1, 1, right);
        }
    }
}

@media all and (min-width: 960px) {
    /*
     * Use 4 or 5 grid columns for larger screens.
     */
    
    /*
     * The layout when there is only one sidebar, the left one.
     */
    .sidebar-first {
        $zen-column-count: 4;
        #content { /* Span 4 columns, starting in 2nd column from left. */
            @include zen-grid-item(3, 2);
            @include zen-clear(left);
        }

        .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
            @include zen-grid-item(1, 1);
        }
    }

    /*
     * The layout when there is only one sidebar, the right one.
     */
    .sidebar-second {
        $zen-column-count: 4;
        #content { /* Span 3 columns, starting in 1st column from left. */
            @include zen-grid-item(3, 1);
        }

        .region-sidebar-second { /* Span 1 column, starting in 4th column from left. */
            @include zen-grid-item(1, 4);
        }
    }

    /*
     * The layout when there are two sidebars.
     */
    .two-sidebars {
        $zen-column-count: 5;
        #content { /* Span 3 columns, starting in 2nd column from left. */
            @include zen-grid-item(3, 2);
            @include zen-clear(left);
        }

        .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
            @include zen-grid-item(1, 1);
            @include zen-clear(left);
        }

        .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
            @include zen-grid-item(1, 5);
        }
    }
}
